# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#include <iostream>
int main()
{
  using namespace std;
  cout << "come up and c++ me some time.";
  cout << endl;
  cout << "you won't regret it!" << endl;
  return 0;
}
